.app{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DDE1E7;
    color: #4A4A4A;
    letter-spacing: .12rem;
}
